<h1>Show List</h1>

<!-- usuário só pode favoritar as listas públicas de outros usuários -->
<% if (@list.user != current_user) and (@list.is_private == false) %>
  <!--verifica se já não está na lista de favoritos-->
  <% if @get_favorite.empty? %>
    <%= link_to 'Adicionar aos meus favoritos', favorites_path(user: current_user, list: @list.id), method: :post %>
  <% end %>
<% end %>

<p>
  <strong>Lista: </strong>
  <%= @list.list_title %>
</p>

<p>
  <strong>Acesso: </strong>
  <%= public_private(@list.is_private) %>
</p>

<p>
  <strong>Autor: </strong>
  <%= @list.user.email%>
</p>

<hr>

<!--Listando tarefas-->
<h3>Tarefas</h3>
<% @list.tasks.each do |task| %>
  <p>
    <%= task.task_title %>
  </p>
  <!-- somente o autor pode concluir uma tarefa -->
  <% if current_user == @list.user %>
    <p>
      <%= link_to 'Feito', list_task_path(@list, task), method: :delete %>
    </p>
  <% end %>
<% end %>

<!--Adicionado tarefas-->
<% if current_user == @list.user %>
  <h3>Adicionar Tarefa:</h3>
  <%= render 'tasks/form'%>
<% end %> 

<%= link_to 'Back', lists_path %>