<h1>Welcome#index</h1>

<%= link_to 'List', lists_path %><br/>
<hr/>
<% if user_signed_in? %>
  <p>Usuário <strong><%= current_user.email %></strong> logado!</p>
  <%= link_to 'Fazer logoff', destroy_user_session_path, method: :delete %>
  <hr/>
<% else %>
  <%= link_to 'Cadastrar novo usuário', new_user_registration_path %> | <%= link_to 'Fazer login', new_user_session_path %>
<% end %>

